<!--Header new-->
<div class="profile_header bg-light">
  <div class="container-fluid">
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" routerLink="/home">
           <img src="assets/images/globegif5.gif" class="img-fluid" width="250">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle indivi_navlink" routerLink="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-th-large"></i>&nbsp;&nbsp;Dashboard</a>
              <ul class="dropdown-menu dashboard_menu" aria-labelledby="dropdownMenuButton">
                 <li><a class="dropdown-item" routerLink="/clientlist" >
                    <div class="dashboard_item">
                       <img src="assets/images/client_img.png" width="30">
                       &nbsp;&nbsp;<span class="dashboard_subitem">Client Gallery</span>
                    </div>
                 </a></li>
                 <li><a class="dropdown-item" routerLink="/dashboard">
                    <div class="dashboard_item">
                       <img src="assets/images/product_img.png" width="30">
                       &nbsp;&nbsp;<span class="dashboard_subitem">Website</span>
                    </div>
                 </a></li>
                 <li><a class="dropdown-item" routerLink="#">
                    <div class="dashboard_item">
                       <img src="assets/images/store_img.png" width="30">
                       &nbsp;&nbsp;<span class="dashboard_subitem">Store</span>
                    </div>
                 </a></li>
                 <div class="view_dashboarditem"><a routerLink="/dashboard"><i class="fa fa-th-large"></i>&nbsp;&nbsp;View dashboard</a></div>
              </ul>
           </li>
           
          </ul>
          
          <ul class="navbar-nav mt-2 mt-lg-0">
           <li class="nav-item">
             <a class="nav-link" routerLink="#"><i class="fa fa-bell fa-2x"></i></a>
           </li>
           <li class="nav-item dropdown profile_dropdown">
              <a class="nav-link dropdown-toggle indivi_navlink" routerLink="#" title="My Profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="custom_profile"><span class="">b</span></div>
              </a>
              <ul class="dropdown-menu profile_dp_menu" aria-labelledby="dropdownMenuButton">
                 <li><a class="dropdown-item" routerLink="#">User</a></li>
                 <li><a class="dropdown-item" routerLink="/dashboard">Dashboard</a></li>
                 <li><a class="dropdown-item" routerLink="/account">Account</a></li>
                 <li><a class="dropdown-item" routerLink="#">change password</a></li>
                 <li><a class="dropdown-item" routerLink="/myprofile">My Profile</a></li>
                 <li><a class="dropdown-item" style="cursor:pointer" (click)="logout()">Logout</a></li>
              </ul>
           </li>
           
         </ul>
        </div>
      </nav>
  </div>
</div>
  <!--//-->
<!--Carousel Wrapper-->
<div id="video-carousel-example2" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#video-carousel-example2" data-slide-to="0" class="active"></li>
      <li data-target="#video-carousel-example2" data-slide-to="1"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <!-- First slide -->
      <div class="carousel-item active">
        <!--Mask color-->
        <div class="view vd_view">
          <!--Video source-->
          <video class="video-fluid" autoplay loop muted>
            <source src="assets/video/car_vd.mp4" type="video/mp4" />
          </video>
          <div class="vd_form">
            <div class="buy_rentform">
              <div class="container py-5 py-md-4">
                  <div class="col-md-6 buy_rentouter">
                      <ngb-tabset [destroyOnHide]="false">
                          <ngb-tab title="Buy">
                            <ng-template ngbTabContent>
                              <form  class="mb-0">
                                  <div class="row clearfix">
                                      <div class="col-md-12  form-group">
                                          <label><span class="chc_head">Property Type</span></label>
                                          
                                          <div class="d-flex justify-content-between propertyType mb-2">
                                              <label><i class="fa fa-home"></i><input type="radio" name="home"></label>
                                              <label><i class="fa fa-building"></i><input type="radio" name="home"></label>
                                              <label><i class="fa fa-home"></i><input type="radio" name="home"></label>
                                              <label><i class="fa fa-hotel"></i><input type="radio" name="home"></label>
                                          </div>
                                          <div class="d-flex justify-content-between propertyType">
                                              <label><i class="fa fa-home"></i><input type="radio" name="home"></label>
                                              <label><i class="fa fa-building"></i><input type="radio" name="home"></label>
                                              <label><i class="fa fa-home"></i><input type="radio" name="home"></label>
                                              <label><i class="fa fa-hotel"></i><input type="radio" name="home"></label>
                                          </div>
  
                                      </div>
                                  </div>
                                  <div class="row clearfix">
                                      <div class="col-md-6 col-12 form-group">
                                          <label><span class="chc_head">Choose Locations</span></label>
                                          <select class="selectpicker form-control" style="width:100%; line-height: 30px;">
                                              <option value="Any">Any</option>
                                              <optgroup label="Alaskan/Hawaiian Time Zone">
                                                  
                                                  <option value="Condo">Alaska</option>
                                                  <option value="Villa">Hawaii</option>
                                                 
                                              </optgroup>
                                              <optgroup label="Pacific Time Zone">
                                                  <option value="Shop">California</option>
                                                  <option value="Office">Nevada</option>
                                                  <option value="Warehouse">Oregon</option>
                                              </optgroup>
                                          </select>
                                      </div>
                                      <div class="col-6 form-group">
                                          <label for=""><span class="chc_head">Where</span></label>
                                          <input type="text" class="form-control" placeholder="code postal">
                                      </div>
                                  </div>
                                  <label><span class="chc_head">What is your budget</span></label>
                                  <div class="row clearfix">
                                     <div class="col-6 input-group form-group">
                                         <select class="selectpicker form-control" style="width:100%; line-height: 30px;">
                                              <option value="0">Minimum</option>
                                              <option >Loreum</option>
                                          </select>
                                          <div class="input-group-append">
                                              <span class="input-group-text">&euro;</span>
                                            </div>
                                      </div>
                                      <div class="col-6 input-group form-group">
                                          
                                          <select class="selectpicker form-control" style="width:100%; line-height: 30px;">
                                              <option value="0">Maximum</option>
                                              <option >Loreum</option>
                                              
                                          </select>
                                          <div class="input-group-append">
                                              <span class="input-group-text">&euro;</span>
                                            </div>
                                      </div>
                                  </div>
                                  <label><span class="chc_head">How many pieces?</span></label>
                                  <div class="row clearfix">
                                      <div class="col-md-12">
                                          <div class="d-flex justify-content-between pieces_section">
                                              <label><input type="checkbox"><i class="fa fa-square"></i>&nbsp;&nbsp;<span class="float-right">4<br>rooms</span></label>
                                              <label><input type="checkbox"><i class="fa fa-square"></i>&nbsp;&nbsp;<span class="float-right">5<br>pieces</span></label>
                                              <label><input type="checkbox"><i class="fa fa-square"></i>&nbsp;&nbsp;<span class="float-right">6<br>pieces</span></label>
                                     
                                          </div>
                                          <div class="d-flex justify-content-between pieces_section">
                                              <label><input type="checkbox"><i class="fa fa-square"></i>&nbsp;&nbsp;<span class="float-right">4<br>rooms</span></label>
                                              <label><input type="checkbox"><i class="fa fa-square"></i>&nbsp;&nbsp;<span class="float-right">5<br>pieces</span></label>
                                              <label><input type="checkbox"><i class="fa fa-square"></i>&nbsp;&nbsp;<span class="float-right">6<br>pieces</span></label>
   
                                          </div>
                                          <ul class="pieces_section">
                                         </ul>
                                      </div>
                                  </div>
                                  <label><span class="chc_head">What Surface?</span></label>
                                  <div class="row clearfix">
                                     <div class="col-6 input-group form-group">
                                      <input type="text" class="form-control" placeholder="Minimum">
                                      <div class="input-group-append">
                                          <span class="input-group-text">m<sup>2</sup></span>
                                        </div>
                                      </div>
                                      <div class="col-6 input-group form-group">
                                          <input type="text" class="form-control" placeholder="Maximum">
                                          <div class="input-group-append">
                                              <span class="input-group-text">m<sup>2</sup></span>
                                            </div>
                                          </div>
                                  </div>
  
                                  <div class="row">
                                      <div class="col-md-12">
                                          <button class="btnGreenseach w-100 bg-blue">Search Properties</button>
                                      </div>
                                  </div>
                              </form>
                          </ng-template>
                          </ngb-tab>
                          <ngb-tab>
                            <ng-template ngbTabTitle>Rent</ng-template>
                            <ng-template ngbTabContent>
                              <form  class="mb-0">
                                  <div class="row clearfix">
                                      <div class="col-md-12  form-group">
                                          <label><span class="chc_head">Property Type</span></label>
                                          
                                          <div class="d-flex justify-content-between propertyType mb-2">
                                              <label><i class="fa fa-home"></i><input type="radio" name="home"></label>
                                              <label><i class="fa fa-building"></i><input type="radio" name="home"></label>
                                              <label><i class="fa fa-home"></i><input type="radio" name="home"></label>
                                              <label><i class="fa fa-hotel"></i><input type="radio" name="home"></label>
                                          </div>
                                          <div class="d-flex justify-content-between propertyType">
                                              <label><i class="fa fa-home"></i><input type="radio" name="home"></label>
                                              <label><i class="fa fa-building"></i><input type="radio" name="home"></label>
                                              <label><i class="fa fa-home"></i><input type="radio" name="home"></label>
                                              <label><i class="fa fa-hotel"></i><input type="radio" name="home"></label>
                                          </div>
  
                                      </div>
                                  </div>
                                  <div class="row clearfix">
                                      <div class="col-md-6 col-12 form-group">
                                          <label><span class="chc_head">Rental Locations</span></label>
                                          <select class="selectpicker form-control" style="width:100%; line-height: 30px;">
                                              <option value="Any">Any</option>
                                              <optgroup label="Alaskan/Hawaiian Time Zone">
                                                  
                                                  <option value="Condo">Alaska</option>
                                                  <option value="Villa">Hawaii</option>
                                                 
                                              </optgroup>
                                              <optgroup label="Pacific Time Zone">
                                                  <option value="Shop">California</option>
                                                  <option value="Office">Nevada</option>
                                                  <option value="Warehouse">Oregon</option>
                                              </optgroup>
                                          </select>
                                      </div>
                                      <div class="col-6 form-group">
                                          <label for=""><span class="chc_head">Where</span></label>
                                          <input type="text" class="form-control" placeholder="code postal">
                                      </div>
                                  </div>
                                  <label><span class="chc_head">What is your budget</span></label>
                                  <div class="row clearfix">
                                     <div class="col-6 input-group form-group">
                                         <select class="selectpicker form-control" style="width:100%; line-height: 30px;">
                                              <option value="0">Minimum</option>
                                              <option >Loreum</option>
                                          </select>
                                          <div class="input-group-append">
                                              <span class="input-group-text">&euro;</span>
                                            </div>
                                      </div>
                                      <div class="col-6 input-group form-group">
                                          
                                          <select class="selectpicker form-control" style="width:100%; line-height: 30px;">
                                              <option value="0">Maximum</option>
                                              <option >Loreum</option>
                                              
                                          </select>
                                          <div class="input-group-append">
                                              <span class="input-group-text">&euro;</span>
                                            </div>
                                      </div>
                                  </div>
                                  <label><span class="chc_head">How many pieces?</span></label>
                                  <div class="row clearfix">
                                      <div class="col-md-12">
                                          <div class="d-flex justify-content-between pieces_section">
                                              <label><input type="checkbox"><i class="fa fa-square"></i>&nbsp;&nbsp;<span class="float-right">4<br>rooms</span></label>
                                              <label><input type="checkbox"><i class="fa fa-square"></i>&nbsp;&nbsp;<span class="float-right">5<br>pieces</span></label>
                                              <label><input type="checkbox"><i class="fa fa-square"></i>&nbsp;&nbsp;<span class="float-right">6<br>pieces</span></label>
                                     
                                          </div>
                                          <div class="d-flex justify-content-between pieces_section">
                                              <label><input type="checkbox"><i class="fa fa-square"></i>&nbsp;&nbsp;<span class="float-right">4<br>rooms</span></label>
                                              <label><input type="checkbox"><i class="fa fa-square"></i>&nbsp;&nbsp;<span class="float-right">5<br>pieces</span></label>
                                              <label><input type="checkbox"><i class="fa fa-square"></i>&nbsp;&nbsp;<span class="float-right">6<br>pieces</span></label>
   
                                          </div>
                                          <ul class="pieces_section">
                                         </ul>
                                      </div>
                                  </div>
                                  <label><span class="chc_head">What Surface?</span></label>
                                  <div class="row clearfix">
                                     <div class="col-6 input-group form-group">
                                      <input type="text" class="form-control" placeholder="Minimum">
                                      <div class="input-group-append">
                                          <span class="input-group-text">m<sup>2</sup></span>
                                        </div>
                                      </div>
                                      <div class="col-6 input-group form-group">
                                          <input type="text" class="form-control" placeholder="Maximum">
                                          <div class="input-group-append">
                                              <span class="input-group-text">m<sup>2</sup></span>
                                            </div>
                                          </div>
                                  </div>
  
                                  <div class="row">
                                      <div class="col-md-12">
                                          <button class="btnGreenseach w-100 bg-blue">Search Properties</button>
                                      </div>
                                  </div>
                              </form>
                          </ng-template>
                          </ngb-tab>
                      </ngb-tabset>
                      
                  </div>
                  
              </div>
            </div>
          </div>
          <div class="mask rgba-indigo-light"></div>
        </div>
      </div>
      <!-- /.First slide -->
  
      <!-- Second slide -->
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view vd_view">
          <!--Video source-->
          <video class="video-fluid" autoplay loop muted>
            <source src="assets/video/car_vd1.mp4" type="video/mp4" />
          </video>
          <div class="vd_form">
            <div class="buy_rentform">
              <div class="container py-5 py-md-4">
                  <div class="col-md-6 buy_rentouter">
                      
                      <ngb-tabset [destroyOnHide]="false">
                          <ngb-tab title="Buy">
                            <ng-template ngbTabContent>
                              <form  class="mb-0">
                                  <div class="row clearfix">
                                      <div class="col-md-12  form-group">
                                          <label><span class="chc_head">Property Type</span></label>
                                          
                                          <div class="d-flex justify-content-between propertyType mb-2">
                                              <label><i class="fa fa-home"></i><input type="radio" name="home"></label>
                                              <label><i class="fa fa-building"></i><input type="radio" name="home"></label>
                                              <label><i class="fa fa-home"></i><input type="radio" name="home"></label>
                                              <label><i class="fa fa-hotel"></i><input type="radio" name="home"></label>
                                          </div>
                                          <div class="d-flex justify-content-between propertyType">
                                              <label><i class="fa fa-home"></i><input type="radio" name="home"></label>
                                              <label><i class="fa fa-building"></i><input type="radio" name="home"></label>
                                              <label><i class="fa fa-home"></i><input type="radio" name="home"></label>
                                              <label><i class="fa fa-hotel"></i><input type="radio" name="home"></label>
                                          </div>
  
                                      </div>
                                  </div>
                                  <div class="row clearfix">
                                      <div class="col-md-6 col-12 form-group">
                                          <label><span class="chc_head">Choose Locations</span></label>
                                          <select class="selectpicker form-control" style="width:100%; line-height: 30px;">
                                              <option value="Any">Any</option>
                                              <optgroup label="Alaskan/Hawaiian Time Zone">
                                                  
                                                  <option value="Condo">Alaska</option>
                                                  <option value="Villa">Hawaii</option>
                                                 
                                              </optgroup>
                                              <optgroup label="Pacific Time Zone">
                                                  <option value="Shop">California</option>
                                                  <option value="Office">Nevada</option>
                                                  <option value="Warehouse">Oregon</option>
                                              </optgroup>
                                          </select>
                                      </div>
                                      <div class="col-6 form-group">
                                          <label for=""><span class="chc_head">Where</span></label>
                                          <input type="text" class="form-control" placeholder="code postal">
                                      </div>
                                  </div>
                                  <label><span class="chc_head">What is your budget</span></label>
                                  <div class="row clearfix">
                                     <div class="col-6 input-group form-group">
                                         <select class="selectpicker form-control" style="width:100%; line-height: 30px;">
                                              <option value="0">Minimum</option>
                                              <option >Loreum</option>
                                          </select>
                                          <div class="input-group-append">
                                              <span class="input-group-text">&euro;</span>
                                            </div>
                                      </div>
                                      <div class="col-6 input-group form-group">
                                          
                                          <select class="selectpicker form-control" style="width:100%; line-height: 30px;">
                                              <option value="0">Maximum</option>
                                              <option >Loreum</option>
                                              
                                          </select>
                                          <div class="input-group-append">
                                              <span class="input-group-text">&euro;</span>
                                            </div>
                                      </div>
                                  </div>
                                  <label><span class="chc_head">How many pieces?</span></label>
                                  <div class="row clearfix">
                                      <div class="col-md-12">
                                          <div class="d-flex justify-content-between pieces_section">
                                              <label><input type="checkbox"><i class="fa fa-square"></i>&nbsp;&nbsp;<span class="float-right">4<br>rooms</span></label>
                                              <label><input type="checkbox"><i class="fa fa-square"></i>&nbsp;&nbsp;<span class="float-right">5<br>pieces</span></label>
                                              <label><input type="checkbox"><i class="fa fa-square"></i>&nbsp;&nbsp;<span class="float-right">6<br>pieces</span></label>
                                     
                                          </div>
                                          <div class="d-flex justify-content-between pieces_section">
                                              <label><input type="checkbox"><i class="fa fa-square"></i>&nbsp;&nbsp;<span class="float-right">4<br>rooms</span></label>
                                              <label><input type="checkbox"><i class="fa fa-square"></i>&nbsp;&nbsp;<span class="float-right">5<br>pieces</span></label>
                                              <label><input type="checkbox"><i class="fa fa-square"></i>&nbsp;&nbsp;<span class="float-right">6<br>pieces</span></label>
   
                                          </div>
                                          <ul class="pieces_section">
                                         </ul>
                                      </div>
                                  </div>
                                  <label><span class="chc_head">What Surface?</span></label>
                                  <div class="row clearfix">
                                     <div class="col-6 input-group form-group">
                                      <input type="text" class="form-control" placeholder="Minimum">
                                      <div class="input-group-append">
                                          <span class="input-group-text">m<sup>2</sup></span>
                                        </div>
                                      </div>
                                      <div class="col-6 input-group form-group">
                                          <input type="text" class="form-control" placeholder="Maximum">
                                          <div class="input-group-append">
                                              <span class="input-group-text">m<sup>2</sup></span>
                                            </div>
                                          </div>
                                  </div>
  
                                  <div class="row">
                                      <div class="col-md-12">
                                          <button class="btnGreenseach w-100 bg-blue">Search Properties</button>
                                      </div>
                                  </div>
                              </form>
                          </ng-template>
                          </ngb-tab>
                          <ngb-tab>
                            <ng-template ngbTabTitle>Rent</ng-template>
                            <ng-template ngbTabContent>
                              <form  class="mb-0">
                                  <div class="row clearfix">
                                      <div class="col-md-12  form-group">
                                          <label><span class="chc_head">Property Type</span></label>
                                          
                                          <div class="d-flex justify-content-between propertyType mb-2">
                                              <label><i class="fa fa-home"></i><input type="radio" name="home"></label>
                                              <label><i class="fa fa-building"></i><input type="radio" name="home"></label>
                                              <label><i class="fa fa-home"></i><input type="radio" name="home"></label>
                                              <label><i class="fa fa-hotel"></i><input type="radio" name="home"></label>
                                          </div>
                                          <div class="d-flex justify-content-between propertyType">
                                              <label><i class="fa fa-home"></i><input type="radio" name="home"></label>
                                              <label><i class="fa fa-building"></i><input type="radio" name="home"></label>
                                              <label><i class="fa fa-home"></i><input type="radio" name="home"></label>
                                              <label><i class="fa fa-hotel"></i><input type="radio" name="home"></label>
                                          </div>
  
                                      </div>
                                  </div>
                                  <div class="row clearfix">
                                      <div class="col-md-6 col-12 form-group">
                                          <label><span class="chc_head">Rental Locations</span></label>
                                          <select class="selectpicker form-control" style="width:100%; line-height: 30px;">
                                              <option value="Any">Any</option>
                                              <optgroup label="Alaskan/Hawaiian Time Zone">
                                                  
                                                  <option value="Condo">Alaska</option>
                                                  <option value="Villa">Hawaii</option>
                                                 
                                              </optgroup>
                                              <optgroup label="Pacific Time Zone">
                                                  <option value="Shop">California</option>
                                                  <option value="Office">Nevada</option>
                                                  <option value="Warehouse">Oregon</option>
                                              </optgroup>
                                          </select>
                                      </div>
                                      <div class="col-6 form-group">
                                          <label for=""><span class="chc_head">Where</span></label>
                                          <input type="text" class="form-control" placeholder="code postal">
                                      </div>
                                  </div>
                                  <label><span class="chc_head">What is your budget</span></label>
                                  <div class="row clearfix">
                                     <div class="col-6 input-group form-group">
                                         <select class="selectpicker form-control" style="width:100%; line-height: 30px;">
                                              <option value="0">Minimum</option>
                                              <option >Loreum</option>
                                          </select>
                                          <div class="input-group-append">
                                              <span class="input-group-text">&euro;</span>
                                            </div>
                                      </div>
                                      <div class="col-6 input-group form-group">
                                          
                                          <select class="selectpicker form-control" style="width:100%; line-height: 30px;">
                                              <option value="0">Maximum</option>
                                              <option >Loreum</option>
                                              
                                          </select>
                                          <div class="input-group-append">
                                              <span class="input-group-text">&euro;</span>
                                            </div>
                                      </div>
                                  </div>
                                  <label><span class="chc_head">How many pieces?</span></label>
                                  <div class="row clearfix">
                                      <div class="col-md-12">
                                          <div class="d-flex justify-content-between pieces_section">
                                              <label><input type="checkbox"><i class="fa fa-square"></i>&nbsp;&nbsp;<span class="float-right">4<br>rooms</span></label>
                                              <label><input type="checkbox"><i class="fa fa-square"></i>&nbsp;&nbsp;<span class="float-right">5<br>pieces</span></label>
                                              <label><input type="checkbox"><i class="fa fa-square"></i>&nbsp;&nbsp;<span class="float-right">6<br>pieces</span></label>
                                     
                                          </div>
                                          <div class="d-flex justify-content-between pieces_section">
                                              <label><input type="checkbox"><i class="fa fa-square"></i>&nbsp;&nbsp;<span class="float-right">4<br>rooms</span></label>
                                              <label><input type="checkbox"><i class="fa fa-square"></i>&nbsp;&nbsp;<span class="float-right">5<br>pieces</span></label>
                                              <label><input type="checkbox"><i class="fa fa-square"></i>&nbsp;&nbsp;<span class="float-right">6<br>pieces</span></label>
   
                                          </div>
                                          <ul class="pieces_section">
                                         </ul>
                                      </div>
                                  </div>
                                  <label><span class="chc_head">What Surface?</span></label>
                                  <div class="row clearfix">
                                     <div class="col-6 input-group form-group">
                                      <input type="text" class="form-control" placeholder="Minimum">
                                      <div class="input-group-append">
                                          <span class="input-group-text">m<sup>2</sup></span>
                                        </div>
                                      </div>
                                      <div class="col-6 input-group form-group">
                                          <input type="text" class="form-control" placeholder="Maximum">
                                          <div class="input-group-append">
                                              <span class="input-group-text">m<sup>2</sup></span>
                                            </div>
                                          </div>
                                  </div>
  
                                  <div class="row">
                                      <div class="col-md-12">
                                          <button class="btnGreenseach w-100 bg-blue">Search Properties</button>
                                      </div>
                                  </div>
                              </form>
                          </ng-template>
                          </ngb-tab>
                      </ngb-tabset>
                      
                  </div>
                  
              </div>
            </div>
          </div>
          <div class="mask rgba-purple-slight"></div>
        </div>
      </div>
      <!-- /.Second slide -->
  
     
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#video-carousel-example2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#video-carousel-example2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>
  <!--Carousel Wrapper-->

  <div class="automobile_car">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="assets/images/car12.jpg" class="img-fluid">
        </div>
        <div class="col-md-4">
            <img src="assets/images/car22.jpg" class="img-fluid">
        </div>
        <div class="col-md-4">
            <img src="assets/images/car4.jpg" class="img-fluid">
        </div>
    </div>
  </div>

  <div class="car_section">
      <div class="row clearfix no-gutters">
          <div class="col-md-6">
              <img src="assets/images/white_car.jpg" class="img-fluid">
          </div>
          <div class="col-md-6">
            <div class="heading-block hlarge mt-5">
                <h3>Our Fleet<br>Your Fleet</h3>
                <p>Assertively iterate enterprise-wide portals through synergistic products. Efficiently build adaptive schemas after transparent quality vectors. Phosfluorescently optimize competitive resources after extensive convergence. 
                    Rapidiously optimize high-quality meta-services via distributed architectures. Credibly deliver 24/365.</p>
            </div>
          </div>
      </div>
  </div>
  <div class="modal_section">
      <div class="container">
          <div class="row clearfix">
              <div class="col-md-4 offset-md-8">
                <div class="heading-block topmargin border-0">
                    <h3 style="text-transform: none; font-size: 36px; letter-spacing: 0px; font-weight: 700;color:#fff;">Select other Models</h3>
                    <span class="modal_desc">Intrinsicly formulate plug-and-play systems with interactive communities. Quickly aggregate plug-and-play.</span>
                </div>

                <form>
                    <div class="form-group">
                        <select class="form-control">
                            <option value="0">Select Brand</option>
                            <option>Audi</option>
                            <option>Honda</option>
                            <option>Manza</option>
                            <option>Huyndai</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <option value="0">Select Model</option>
                            <option>Audi R8</option>
                            <option>Audi TT</option>
                            <option>Audi S5</option>
                            <option>Audi TTS</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn modal_btn w-100">SEARCH</button>
                    </div>
                </form>
              </div>
          </div>
      </div>
  </div>

  <div class="lookout_section">
      <div class="row clearfix no-gutters">
        <div class="col-md-6">
            <div class="lookout_allsect">
            <img src="assets/images/new_car.jpg" class="img-fluid w-100">
            <div class="lookout_head">
            <div class="heading-block lkt_head">
                <h3>Are You Looking for a New Car?</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aspernatur, doloribus. Aspernatur, maiores earum eaque quas temporibus eius dolore dicta.</p>
            <div class="mt-5"><a href="#" class="button know_morebtn">Know More</a></div>
            </div>
            </div>
        </div>
        <div class="col-md-6">
          <div class="lookout_allsect">
            <img src="assets/images/used_car.jpg" class="img-fluid w-100">
            <div class="lookout_head">
            <div class="heading-block lkt_head_used">
                <h3>Want to sell a used car?</h3>
            </div>
            <p class="lkt_para_used">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aspernatur, doloribus. Aspernatur, maiores earum eaque quas temporibus eius dolore dicta.</p>
            <div class="mt-5"><a href="#" class="button know_morebtn_dark">Know More</a></div>
            </div>
            </div>
           
        </div>
      </div>
  </div>
<app-footer></app-footer>
