<app-inner-header></app-inner-header>
<div class="container-fluid">
    <!-- Globpage filter -->
    <section class="glob_filter">
        <h3 class="section-heading ml-2 border-bottom"><i class="fa fa-filter"></i>&nbsp;FILTER
            <small class="float-right"><a href="#glob_search" data-toggle="collapse" role="button" aria-expanded="false"
                    aria-controls="#glob_search"><i class="fa fa-caret-down"></i></a>
            </small>
        </h3>
        <div class="collapse glob_search  formcl" id="glob_search">
            <div class="row clearfix">
                <div class="col-md-2">
                    <div class="form-group row">
                        <label class="col-md-3">Sector</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group row">
                        <label class="col-md-3">Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                        <label class="col-md-3">Keywords</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                        <label class="col-md-3">Location</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group row">
                        <label class="col-md-3">Area Zip</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>


            </div>
            <div class="row clearfix mt-3">
                <div class="col-md-5 offset-md-7">
                    <form [formGroup]="">
                        <div class="row clearfix">
                            <div class="col-md-6">
                                <div class="grad_brd reset_d"><a href="#" class="btn reset_btn bg_white ">Reset</a></div>
                            </div>
                            <div class="col-md-6">
                                <div class="grad_brd reset_d"><a href="#" class="btn reset_btn glob_grad">Apply</a></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--//-->

    <!--Globpage section-->
    <section class="globsection">
        <div class="row clearfix">
            <div class="col-md-5">
                <h3 class="section-heading">Submissions<small class="float-right"><a href="#" class="viewall"
                            title="Viewall">Sort By &nbsp;<i class="fa fa-bars"></i></a></small>
                </h3>
                <div class="glob_headftr border">
                    <div class="glob_header grad_bg_grey">
                        <h5 class="glob_heading">Plumber</h5>
                        <p class="glob_desc">Contact me by chat, budget &euro; <span
                                class="glob_highlight">urgent</span></p>
                        <p class="glob_descftr">Unblocking work , apartment leaks,Paris region,request quote.</p>
                    </div>

                    <div class="glob_footer d-flex justify-content-between">
                        <div class="glob_ftrhead">
                            <span class="glob_icon"><i class="fa fa-comment"></i></span>&nbsp;&nbsp;
                            <span><img src="assets/images/eng.jpg" height="15"></span>&nbsp;&nbsp;
                            <span><img src="assets/images/eng.jpg" height="15"></span>
                        </div>
                        <div class="glob_ftrbtn grad_bg_grey">
                            <div class="glob_ftrbtnDesc">Contact Go Chat</div>
                        </div>
                        <div class="glob_ftrplaybtn">
                            <i class="fa fa-play-circle"></i>
                        </div>
                    </div>
                </div>

                <div class="glob_headftr border">
                    <div class="glob_header grad_bg_grey">
                        <h5 class="glob_heading">Plumber</h5>
                        <p class="glob_desc">Contact me by chat, budget &euro; <span
                                class="glob_highlight">urgent</span></p>
                        <p class="glob_descftr">Unblocking work , apartment leaks,Paris region,request quote.</p>
                    </div>

                    <div class="glob_footer d-flex justify-content-between">
                        <div class="glob_ftrhead">
                            <span class="glob_icon"><i class="fa fa-comment"></i></span>&nbsp;&nbsp;
                            <span><img src="assets/images/eng.jpg" height="15"></span>&nbsp;&nbsp;
                            <span><img src="assets/images/eng.jpg" height="15"></span>
                        </div>
                        <div class="glob_ftrbtn grad_bg_grey">
                            <div class="glob_ftrbtnDesc">Contact Go Chat</div>
                        </div>
                        <div class="glob_ftrplaybtn">
                            <i class="fa fa-play-circle"></i>
                        </div>
                    </div>
                </div>

                <div class="glob_headftr border">
                    <div class="glob_header grad_bg_grey">
                        <h5 class="glob_heading">Plumber</h5>
                        <p class="glob_desc">Contact me by chat, budget &euro; <span
                                class="glob_highlight">urgent</span></p>
                        <p class="glob_descftr">Unblocking work , apartment leaks,Paris region,request quote.</p>
                    </div>

                    <div class="glob_footer d-flex justify-content-between">
                        <div class="glob_ftrhead">
                            <span class="glob_icon"><i class="fa fa-comment"></i></span>&nbsp;&nbsp;
                            <span><img src="assets/images/eng.jpg" height="15"></span>&nbsp;&nbsp;
                            <span><img src="assets/images/eng.jpg" height="15"></span>
                        </div>
                        <div class="glob_ftrbtn grad_bg_grey">
                            <div class="glob_ftrbtnDesc">Contact Go Chat</div>
                        </div>
                        <div class="glob_ftrplaybtn">
                            <i class="fa fa-play-circle"></i>
                        </div>
                    </div>
                </div>

                <div class="glob_headftr border">
                    <div class="glob_header grad_bg_grey">
                        <h5 class="glob_heading">Plumber</h5>
                        <p class="glob_desc">Contact me by chat, budget &euro; <span
                                class="glob_highlight">urgent</span></p>
                        <p class="glob_descftr">Unblocking work , apartment leaks,Paris region,request quote.</p>
                    </div>

                    <div class="glob_footer d-flex justify-content-between">
                        <div class="glob_ftrhead">
                            <span class="glob_icon"><i class="fa fa-comment"></i></span>&nbsp;&nbsp;
                            <span><img src="assets/images/eng.jpg" height="15"></span>&nbsp;&nbsp;
                            <span><img src="assets/images/eng.jpg" height="15"></span>
                        </div>
                        <div class="glob_ftrbtn grad_bg_grey">
                            <div class="glob_ftrbtnDesc">Contact Go Chat</div>
                        </div>
                        <div class="glob_ftrplaybtn">
                            <i class="fa fa-play-circle"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2"></div>
            <div class="col-md-5">
                <h3 class="section-heading">Professions<small class="float-right"><a href="#" class="viewall"
                            title="Viewall">Sort By &nbsp;<i class="fa fa-bars"></i></a></small>
                </h3>
                <div class="glob_headftr border">
                    <div class="glob_headftr_yl grad_bg_yellow">
                        <h5 class="glob_heading">Saniconfort , Plumber </h5>
                        <h6 class="glob_addr">123 sq Parlslen 97150 PARIS</h6>
                        <h6 class="glob_num">Tel:0033(0) 6 123 123 123<span
                                class="float-right">Email:sanlconfort@yahoo.fr</span></h6>
                        <div class="glob_exp">12 years experience<br>
                            Plumber ,Installation wall repairs, All renewal work, Refreshments, In and around Paris,
                        </div>
                    </div>

                    <div class="glob_footer d-flex justify-content-between">
                        <div class="glob_ftrhead">
                            <span class="glob_icon"><i class="fa fa-comment"></i></span>&nbsp;&nbsp;
                            <span><img src="assets/images/eng.jpg" height="15"></span>&nbsp;&nbsp;
                            <span><img src="assets/images/eng.jpg" height="15"></span>
                        </div>
                        <div class="glob_ftrbtn grad_brd">
                            <div class="glob_ftrbtnDesc">Contact Go Chat</div>
                        </div>
                        <div class="glob_ftrplaybtn">
                            <i class="fa fa-play-circle"></i>
                        </div>
                    </div>
                </div>

                <div class="glob_headftr border">
                    <div class="glob_headftr_yl grad_bg_yellow">
                        <h5 class="glob_heading">Saniconfort , Plumber </h5>
                        <h6 class="glob_addr">123 sq Parlslen 97150 PARIS</h6>
                        <h6 class="glob_num">Tel:0033(0) 6 123 123 123<span
                                class="float-right">Email:sanlconfort@yahoo.fr</span></h6>
                        <div class="glob_exp">12 years experience<br>
                            Plumber ,Installation wall repairs, All renewal work, Refreshments, In and around Paris,
                        </div>
                    </div>

                    <div class="glob_footer d-flex justify-content-between">
                        <div class="glob_ftrhead">
                            <span class="glob_icon"><i class="fa fa-comment"></i></span>&nbsp;&nbsp;
                            <span><img src="assets/images/eng.jpg" height="15"></span>&nbsp;&nbsp;
                            <span><img src="assets/images/eng.jpg" height="15"></span>
                        </div>
                        <div class="glob_ftrbtn grad_brd">
                            <div class="glob_ftrbtnDesc">Contact Go Chat</div>
                        </div>
                        <div class="glob_ftrplaybtn">
                            <i class="fa fa-play-circle"></i>
                        </div>
                    </div>
                </div>

                <div class="glob_headftr border">
                    <div class="glob_headftr_yl grad_bg_yellow">
                        <h5 class="glob_heading">Saniconfort , Plumber </h5>
                        <h6 class="glob_addr">123 sq Parlslen 97150 PARIS</h6>
                        <h6 class="glob_num">Tel:0033(0) 6 123 123 123<span
                                class="float-right">Email:sanlconfort@yahoo.fr</span></h6>
                        <div class="glob_exp">12 years experience<br>
                            Plumber ,Installation wall repairs, All renewal work, Refreshments, In and around Paris,
                        </div>
                    </div>

                    <div class="glob_footer d-flex justify-content-between">
                        <div class="glob_ftrhead">
                            <span class="glob_icon"><i class="fa fa-comment"></i></span>&nbsp;&nbsp;
                            <span><img src="assets/images/eng.jpg" height="15"></span>&nbsp;&nbsp;
                            <span><img src="assets/images/eng.jpg" height="15"></span>
                        </div>
                        <div class="glob_ftrbtn grad_brd">
                            <div class="glob_ftrbtnDesc">Contact Go Chat</div>
                        </div>
                        <div class="glob_ftrplaybtn">
                            <i class="fa fa-play-circle"></i>
                        </div>
                    </div>
                </div>

                <div class="glob_headftr border">
                    <div class="glob_headftr_yl grad_bg_yellow">
                        <h5 class="glob_heading">Saniconfort , Plumber </h5>
                        <h6 class="glob_addr">123 sq Parlslen 97150 PARIS</h6>
                        <h6 class="glob_num">Tel:0033(0) 6 123 123 123<span
                                class="float-right">Email:sanlconfort@yahoo.fr</span></h6>
                        <div class="glob_exp">12 years experience<br>
                            Plumber ,Installation wall repairs, All renewal work, Refreshments, In and around Paris,
                        </div>
                    </div>

                    <div class="glob_footer d-flex justify-content-between">
                        <div class="glob_ftrhead">
                            <span class="glob_icon"><i class="fa fa-comment"></i></span>&nbsp;&nbsp;
                            <span><img src="assets/images/eng.jpg" height="15"></span>&nbsp;&nbsp;
                            <span><img src="assets/images/eng.jpg" height="15"></span>
                        </div>
                        <div class="glob_ftrbtn grad_brd">
                            <div class="glob_ftrbtnDesc">Contact Go Chat</div>
                        </div>
                        <div class="glob_ftrplaybtn">
                            <i class="fa fa-play-circle"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//-->
</div>
<app-footer></app-footer>