<!----Header-->
<div class="container-fluid">
   <!--Mobile view-->
 <div class="mobileview">
   <div class="row">
    <nav class="navbar navbar-expand-lg navbar-light ">
       <a class="navbar-brand" routerLink="/"> <img src="assets/images/logo_mobile.gif" class="img-fluid"></a>
       <span class="bell-icon"><a class="" routerLink="#" title="Notification"><i class="fa fa-bell-o fa-lg"></i></a></span>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav" >
             <li class="nav-item active">
                <a class="nav-link " routerLink="#" title="Home">Home <span class="sr-only">(current)</span></a>
             </li>
             <li class="nav-item">
                <a class="nav-link" routerLink="#" title="My Favorites">My Favorites</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" routerLink="#" title="My Alerts">My Alerts</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" routerLink="#" title="My Charts">My Charts</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" routerLink="#" title="My Posts">My Posts</a>
             </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/login" title="My Posts">Login</a>
             </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/signup" title="My Posts">Sign UP</a>
             </li>
          </ul>
       </div>
    </nav>
   <div class="col-md-12 mt-3 mb-5">
    <div class="d-flex justify-content-around">
       <div class="p-2">
       <a routerLink="/login" title="Realestate" class="single-category"><img src="assets/images/pro1.png" class="img-fluid" alt="Realestate"></a>
    </div>
    <div class="p-2">
       <a routerLink="/login" title="Automobiles" class="single-category"><img src="assets/images/pro2.png" class="img-fluid" alt="Automobiles"></a>
    </div>
    <div class="p-2">
       <a routerLink="/login" title="Boats" class="single-category"><img src="assets/images/pro3.png" class="img-fluid" alt="Boats"></a>
    </div>
    <div class="p-2">
       <a routerLink="/login" title="Globtech" class="single-category"><img src="assets/images/pro4.png" class="img-fluid" alt="Globtech"></a>
    </div>
    <div class="p-2">
       <a routerLink="/login" title="globpage" class="single-category"><img src="assets/images/pro5.png" class="img-fluid" alt="Globpage"></a>
    </div>
    </div>
 </div>
    <div class="col-md-12 primary-form">
       <form>
                <div class="input-group md-form form-sm form-2 pl-0">
                   <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search" aria-label="Search">
                   <div class="input-group-append">
                      <span class="input-group-text red lighten-3" id="basic-text1" type="submit"><i class="fa fa-search text-grey" aria-hidden="true"></i></span>
                   </div>
                </div>
      </form>
    </div>
 </div>
 </div>
 <!--//-->
 
 <!--Web view-->
 <div class="row webview">
    <div class="col-md-8">
       <!-- logo -->
       <div class="row">
          <div class="col-md-6 col-sm-4 border-bottom border-right">
             <a class="navbar-brand" routerLink="/">
             <img src="assets/images/globegif5.gif" class="img-fluid">
             </a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
             <span class="navbar-toggler-icon"></span>
             </button> 
          </div>
          <div class="col-md-6 col-sm-8 border-bottom">
             <div class="row clearfix">
                <div class="primary-menu">
                   <nav class="navbar navbar-expand-lg navbar-light">
                      <!--  <a class="navbar-brand" routerLink="#">Brand</a> -->
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                         <ul class="navbar-nav" >
                            <li class="nav-item active">
                               <a class="nav-link " routerLink="#" title="Home">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                               <a class="nav-link" routerLink="#" title="My Favorites">My Favorites</a>
                            </li>
                            <li class="nav-item">
                               <a class="nav-link" routerLink="#" title="My Alerts">My Alerts</a>
                            </li>
                            <li class="nav-item">
                               <a class="nav-link" routerLink="#" title="My Charts">My Charts</a>
                            </li>
                            <li class="nav-item">
                               <a class="nav-link" routerLink="#" title="My Posts">My Posts</a>
                            </li>
                         </ul>
                      </div>
                   </nav>
                </div>
             </div>
             <div class="flex-row clearfix">
                <div class="d-flex  justify-content-around text-center">
                   <div class="visitors_num"><span class="numfont">100 836 5456</span><br> <span>Visitors</span></div>
                  <a routerLink="#postad_form" class="btn grad_brd grad_custom_brd" title="Post AD" data-toggle="modal" ><span class="btn grad_btn_custom glob_grad"><i class="fa fa-plus"></i>&nbsp;&nbsp;POST AD</span></a>
                </div>
             </div>
          </div>
       </div>
       <div class="d-flex justify-content-around  padding">
          <a routerLink="/login" title="Realestate" class="single-category"><img src="assets/images/pro1.png" class="img-fluid" alt="Realestate"></a>
          <a routerLink="/login" title="Automobiles" class="single-category"><img src="assets/images/pro2.png" class="img-fluid" alt="Automobiles"></a>
          <a routerLink="/login" title="Boats" class="single-category"><img src="assets/images/pro3.png" class="img-fluid" alt="Boats"></a>
          <a routerLink="/login" title="Globtech" class="single-category"><img src="assets/images/pro4.png" class="img-fluid" alt="Globtech"></a>
          <a routerLink="/login" title="Globpage" class="single-category"><img src="assets/images/pro5.png" class="img-fluid" alt=""></a>
       </div>
       <div class="row clearfix border-top pt-3 primary-form">
          <div class="col-md-5">
             <form [formGroup]="">
                <div class="input-group md-form form-sm form-2 pl-0">
                   <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search" aria-label="Search">
                   <div class="input-group-append">
                      <span class="input-group-text red lighten-3" id="basic-text1" type="submit"><i class="fa fa-search text-grey"
                         aria-hidden="true"></i></span>
                   </div>
                </div>
             </form>
          </div>
          <div class="col-md-3">
             <div class="input-group md-form form-sm form-2 pl-0">
                <input type="text" class="form-control my-0 py-1 red-border" type="text" placeholder="Search" aria-label="Search"  id="txtPlaces" placeholder="Enter a location" >
                <div class="input-group-append">
                   <span class="input-group-text red lighten-3" id="basic-text1"><i class="fa fa-map-marker text-grey"
                      aria-hidden="true"></i></span>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="col-md-4">
       <div class="row">
          <div class="navbar navbar-expand-lg right-navbar">
             <ul class="navbar-nav langoption">
                <li class="nav-item btn-group">
                   <button class="dropdown-toggle lang-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <img src="assets/images/eng.jpg">&nbsp;English
                   </button>
                   <div class="dropdown-menu">
                      <a class="dropdown-item" routerLink="#"><img src="assets/images/france.jpg" alt="">&nbsp;&nbsp;French</a>
                      <a class="dropdown-item" routerLink="#"><img src="assets/images/japanese.jpg" alt="#">&nbsp;&nbsp;Japanese</a>
                   </div>
                   <a routerLink="#" type="button" class="search_button" title="Search"><img src="assets/images/search_button.jpg"></a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" routerLink="#" title="Connection">Connection</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" routerLink="/login" title="Login">Login</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" routerLink="/signup" title="Sign Up">Sign Up</a>
                </li>
             </ul>
          </div>
       </div>
                <div class="row">
          <div class="col-md-12 border p-3">
                <video class="video-fluid z-depth-1" loop controls muted>
                  <source src="assets/video/real-estate2.mp4" type="video/mp4" />
                </video>
 
          </div>
       </div>
    </div>
 </div>
 <!--//-->
 
 </div>
 <!--//-->
 