 <!-- Footer -->
 <div class="container-fluid">
    <section class="row ftr">
       <div class="col-md-4">
          <h3 class="ftr-title">Products & Services</h3>
          <ul class="foot-links list-unstyled">
             <li class="ftr-desc"><a routerLink="#">IMMO <small>Rent Buy BNB Hollyday </small> </a></li>
             <li class="ftr-desc"><a routerLink="#">Real estate <small>Motorcyckes Van</small></a></li>
             <li class="ftr-desc"><a routerLink="#">Boats <small>Power Sail Dinky Jetski  </small></a></li>
             <li class="ftr-desc"><a routerLink="#">Globpages <small>Professional Address Submission</small></a></li>
             <li class="ftr-desc"><a routerLink="#">Globtech  <small>New Tech Shopping Business Opportunities</small></a></li>
          </ul>
       </div>
       <div class="col-md-4">
          <h3 class="ftr-title">About US</h3>
          <!--  <h3 class="ftr-title">Products & Services</h3> -->
          <ul class="foot-links list-unstyled">
             <li class="ftr-desc"><a routerLink="#">IMMO <small>Rent Buy BNB Hollyday </small> </a></li>
             <li class="ftr-desc"><a routerLink="#">Real estate <small>Motorcyckes Van</small></a></li>
             <li class="ftr-desc"><a routerLink="#">Boats <small>Power Sail Dinky Jetski  </small></a></li>
             <li class="ftr-desc"><a routerLink="#">Globpages <small>Professional Address Submission</small></a></li>
             <li class="ftr-desc"><a routerLink="#">Globtech  <small>New Tech Shopping Business Opportunities</small></a></li>
          </ul>
       </div>
       <div class="col-md-4 ">
          <h3 class="ftr-title">Get Connected</h3>
          <ul class="foot-links list-unstyled d-flex ">
             <li><a routerLink="#" title="Linkedin"><img src="assets/images/linkedin.jpg"></a></li>
             <li><a routerLink="#" title="Facebook"><img src="assets/images/facebook.jpg"></a></li>
             <li><a routerLink="#" title="Instagram"><img src="assets/images/instagram.png"></a></li>
             <li><a routerLink="#" title="Twitter"><img src="assets/images/twitter.png"></a></li>
          </ul>
       </div>
    </section>
    <!--//-->
    <section class="row copy-right">
       <div class="col-md-12">
          <h6 class="text-center">All rights reserved 2020 <i class="fa fa-copyright"></i> <a routerLink="#">GlOBAVENUE Ltd HK</a></h6>
       </div>
    </section>
 </div>