<!--Header new-->
<div class="profile_header bg-light">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" routerLink="/home">
                <img src="assets/images/globegif5.gif" class="img-fluid" width="250">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle indivi_navlink" routerLink="#" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><i
                                class="fa fa-th-large"></i>&nbsp;&nbsp;Dashboard</a>
                        <ul class="dropdown-menu dashboard_menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" routerLink="/clientlist">
                                    <div class="dashboard_item">
                                        <img src="assets/images/client_img.png" width="30">
                                        &nbsp;&nbsp;<span class="dashboard_subitem">Client Gallery</span>
                                    </div>
                                </a></li>
                            <li><a class="dropdown-item" routerLink="/dashboard">
                                    <div class="dashboard_item">
                                        <img src="assets/images/product_img.png" width="30">
                                        &nbsp;&nbsp;<span class="dashboard_subitem">Website</span>
                                    </div>
                                </a></li>
                            <li><a class="dropdown-item" routerLink="#">
                                    <div class="dashboard_item">
                                        <img src="assets/images/store_img.png" width="30">
                                        &nbsp;&nbsp;<span class="dashboard_subitem">Store</span>
                                    </div>
                                </a></li>
                            <div class="view_dashboarditem"><a routerLink="/dashboard"><i
                                        class="fa fa-th-large"></i>&nbsp;&nbsp;View dashboard</a></div>
                        </ul>
                    </li>

                </ul>

                <ul class="navbar-nav mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="#"><i class="fa fa-bell fa-2x"></i></a>
                    </li>
                    <li class="nav-item dropdown profile_dropdown">
                        <a class="nav-link dropdown-toggle indivi_navlink" routerLink="#" title="My Profile"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="custom_profile"><span class="">b</span></div>
                        </a>
                        <ul class="dropdown-menu profile_dp_menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" routerLink="#">User</a></li>
                            <li><a class="dropdown-item" routerLink="/dashboard">Dashboard</a></li>
                            <li><a class="dropdown-item" routerLink="/account">Account</a></li>
                            <li><a class="dropdown-item" routerLink="#">change password</a></li>
                            <li><a class="dropdown-item" routerLink="/myprofile">My Profile</a></li>
                            <li><a class="dropdown-item" style="cursor:pointer" (click)="logout()">Logout</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>
<!--//-->

<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-2" data-slide-to="1"></li>
        <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="view">
                <div class="automobile_bgimg">
                    <div class="autm_sngSection content-wrap">
                        <h3 class="model_hd">Porche 911 GTS Model</h3>
                        <p class="md_desc">Color Varients</p>
                    </div>
                </div>
                <div class="mask rgba-black-light"></div>

            </div>

        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
                <div class="automobile_bgimg2">
                    <div class="autm_sngSection content-wrap">
                        <h3 class="model_hd">Porche 911 GTS Model</h3>
                        <p class="md_desc">Color Varients</p>
                    </div>
                </div>
                <div class="mask rgba-black-strong"></div>
            </div>

        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
                <div class="automobile_bgimg3">
                    <div class="autm_sngSection content-wrap">
                        <h3 class="model_hd">Porche 911 GTS Model</h3>
                        <p class="md_desc">Color Varients</p>
                    </div>
                </div>
                <div class="mask rgba-black-slight"></div>
            </div>

        </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->

</div>
<!--/.Carousel Wrapper-->

<!---->
<div class="auto_dtsection">
    <div class="content-wrap">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-md-8">
                    <div class="section-features">
                        <h3 class="mb-3">Overview</h3>
                        <p>From March 2021, a total of five variants will be available in Germany: the 911 Carrera GTS
                            with rear-wheel drive, the 911 Carrera 4 GTS with all-wheel drive – both of the above
                            available as a Coupé and Cabriolet – and the 911 Targa 4 GTS with all-wheel drive. A newly
                            developed turbocharger for 3.0-litre six-cylinder flat engine increases power to 331 kW/450
                            hp (911 Carrera GTS: combined fuel consumption 9.4–8.3 l/100 km; CO2 emissions 214–188g/km;
                            911 Carrera 4 GTS: combined fuel consumption 9.7–8.5 l/100 km; CO2 emissions 220–192g/km;
                            911 Targa 4 GTS: combined fuel consumption 9.7 – 8.7 l/100 km; CO2 emissions 220 – 196
                            g/km). The engine delivers 22 kW (30 hp) more than the 911 Carrera S (combined fuel
                            consumption 8.7 – 7.7 l/100 km; CO2-emissions 199 – 174 g/km) and 15 kW (20 hp) more than
                            the corresponding GTS prior model with a naturally aspirated engine. All variants are
                            available with a manual seven-gear transmission or optional Porsche Doppelkupplung (PDK).
                        </p>
                        <div class="row clearfix">
                            <div class="col-md-6">
                                <ul class="iconlist">
                                    <li><i class="icon-car-paint"></i><span class="ml-2">Different Color Varients</span>
                                    </li>
                                    <li class="mt-2"><i class="icon-car-stearing"></i><span class="ml-2">Powerful
                                            Stearings</span></li>
                                    <li class="mt-2"><i class="icon-car-fuel"></i><span class="ml-2">Goof Fuel
                                            Efficiency</span></li>
                                    <li class="mt-2"><i class="icon-car-signal"></i><span class="ml-2">Automatic /
                                            Manual</span></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="iconlist">
                                    <li><i class="icon-car-meter"></i><span class="ml-2">Modern Dashboard</span></li>
                                    <li class="mt-2"><i class="icon-car-wheel"></i><span class="ml-2">Beautiful
                                            Alloy-wheels</span></li>
                                    <li class="mt-2"><i class="icon-car-signal"></i><span class="ml-2">Automatic /
                                            Manual</span></li>
                                    <li class="mt-2"><i class="icon-car-alert"></i><span class="ml-2">App
                                            Technology</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="section-spec">
                        <h3 class="mb-3">Technical Specs</h3>
                        <p>From March 2021, a total of five variants will be available in Germany: the 911 Carrera GTS
                            with rear-wheel drive, the 911 Carrera 4 GTS with all-wheel drive – both of the above
                            available as a Coupé and Cabriolet – and the 911 Targa 4 GTS with all-wheel drive.</p>
                        <div class="row">
                            <div class="col-lg-6 mt-3">
                                <table class="table technical_table">
                                    <thead>
                                        <tr>
                                            <th>Engine</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-black-50">Engine layout:</td>
                                            <td class="text-right tech_cont">Rear engine</td>
                                        </tr>
                                        <tr>
                                            <td class="text-black-50">Number of cylinders:</td>
                                            <td class="text-right tech_cont">6</td>
                                        </tr>
                                        <tr>
                                            <td class="text-black-50">Displacement:</td>
                                            <td class="text-right tech_cont">2,981 cm³</td>
                                        </tr>
                                        <tr>
                                            <td class="text-black-50">Power (kW):</td>
                                            <td class="text-right tech_cont">331 kW</td>
                                        </tr>
                                        <tr>
                                            <td class="text-black-50">Power (hp):</td>
                                            <td class="text-right tech_cont">450 PS</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-6 mt-3">
                                <table class="table technical_table">
                                    <thead>
                                        <tr>
                                            <th>Fuel</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-black-50">Fuel consumption* urban:</td>
                                            <td class="text-right tech_cont">10.9 l/100 km</td>
                                        </tr>
                                        <tr>
                                            <td class="text-black-50">Fuel consumption* non-urban:</td>
                                            <td class="text-right tech_cont">7.1 l/100 km</td>
                                        </tr>
                                        <tr>
                                            <td class="text-black-50">Fuel consumption* combined:</td>
                                            <td class="text-right tech_cont">8.5 l/100 km</td>
                                        </tr>
                                        <tr>
                                            <td class="text-black-50">CO2 emissions* combined:</td>
                                            <td class="text-right tech_cont">192 g/km</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-6 mt-4">
                                <table class="table technical_table">
                                    <thead>
                                        <tr>
                                            <th>Body</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-black-50">Length:</td>
                                            <td class="text-right tech_cont">4,528 mm</td>
                                        </tr>
                                        <tr>
                                            <td class="text-black-50">Width:</td>
                                            <td class="text-right tech_cont">1,852 mm</td>
                                        </tr>
                                        <tr>
                                            <td scope="row" class="text-black-50">Height:</td>
                                            <td class="text-right tech_cont">1,284 mm</td>
                                        </tr>
                                        <tr>
                                            <td scope="row" class="text-black-50">Wheelbase:</td>
                                            <td class="text-right tech_cont">.31 cW</td>
                                        </tr>
                                        <tr>
                                            <td scope="row" class="text-black-50">Drag coefficient (Cd):</td>
                                            <td class="text-right tech_cont">2,450 mm</td>
                                        </tr>
                                        <tr>
                                            <td scope="row" class="text-black-50">Unladen weight (DIN):</td>
                                            <td class="text-right tech_cont">1,515 kg</td>
                                        </tr>
                                        <tr>
                                            <td scope="row" class="text-black-50">Unladen weight (EU):</td>
                                            <td class="text-right tech_cont">1,590 kg</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-6 mt-4">
                                <table class="table technical_table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="color">Performance</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td scope="row" class="text-black-50">Top speed:</td>
                                            <td class="text-right tech_cont">4,528 mm</td>
                                        </tr>
                                        <tr>
                                            <td scope="row" class="text-black-50">Acceleration:</td>
                                            <td class="text-right tech_cont">1,852 mm</td>
                                        </tr>
                                        <tr>
                                            <td scope="row" class="text-black-50">In-gear acceleration:</td>
                                            <td class="text-right tech_cont">1,284 mm</td>
                                        </tr>
                                        <tr>
                                            <td scope="row" class="text-black-50">Flexibility/5th Gear:</td>
                                            <td class="text-right tech_cont">.31 cW</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button type="button" class="button know_morebtn float-right">View all Specs <i
                                        class="icon-line-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="automobile_gallery">
                        <div class="content-wrap">
                            <h3 class="mb-3"><strong>Gallery</strong></h3>
                            <!--Carousel Wrapper-->
                            <div id="carousel-thumb"
                                class="carousel slide carousel-fade carousel-thumbnails auto_gallery"
                                data-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="assets/images/_thumb1.jpg" alt="First slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="assets/images/_thumb2.jpg" alt="Second slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="assets/images/_thumb3.jpg" alt="Third slide">
                                    </div>
                                </div>
                                <!--/.Slides-->
                                <!--Controls-->
                                <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                                <!--/.Controls-->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-thumb" data-slide-to="0" class="active"> <img
                                            src="assets/images/thumb8.jpg"></li>
                                    <li data-target="#carousel-thumb" data-slide-to="1"><img
                                            src="assets/images/thumb7.jpg"></li>
                                    <li data-target="#carousel-thumb" data-slide-to="2"><img
                                            src="assets/images/thumb6.jpg"></li>
                                </ol>
                            </div>
                            <!--/.Carousel Wrapper-->
                        </div>
                    </div>
                </div>
                <div class="col-md-4 effici_sidebar">
                    <div class="mb-4 eff_section">
                        <h2>450 PS/331 kW</h2>
                        <small>Power (hp)/Power (kW)</small>
                    </div>
                    <div class="mb-4 eff_section">
                        <h2>3.6 s</h2>
                        <small>Acceleration from 0 - 100 km/h</small>
                    </div>
                    <div class="card fuelSection_card bg-blue">
                        <div class="card-body">
                            <h3 class="card-title">Fuel Efficiency Rating / KMPH</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisg elit. Perspiciatis maxime consequuntur,
                                beatae modi corporis.</p>
                            <div class="card-text d-flex justify-content-between align-items-center">
                                <div>
                                    <h4>In City</h4>
                                    <h4>19</h4>
                                </div>

                                <div>
                                    <h4>Highway</h4>
                                    <h4>24</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img class="mt-5 img-fluid" src="assets/images/features_car.jpg" alt="Image">
                    <div class="card mt-5 rd_pricesection">
                        <div class="card-body">
                            <h3 class="card-title">Get to know On-Road-Price in your City.</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisg elit. Perspiciatis maxime consequuntur,
                                beatae modi corporis.</p>
                            <button type="button" class="btnGreenseach w-100 bg-blue">On Road Price</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//-->

<app-footer></app-footer>