<!--Header new-->
<div class="profile_header bg-light">
    <div class="container-fluid">
       <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" routerLink="/home">
             <img src="assets/images/globegif5.gif" class="img-fluid" width="250">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle indivi_navlink" routerLink="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-th-large"></i>&nbsp;&nbsp;Dashboard</a>
                <ul class="dropdown-menu dashboard_menu" aria-labelledby="dropdownMenuButton">
                   <li><a class="dropdown-item" routerLink="/clientlist" >
                      <div class="dashboard_item">
                         <img src="assets/images/client_img.png" width="30">
                         &nbsp;&nbsp;<span class="dashboard_subitem">Client Gallery</span>
                      </div>
                   </a></li>
                   <li><a class="dropdown-item" routerLink="/dashboard">
                      <div class="dashboard_item">
                         <img src="assets/images/product_img.png" width="30">
                         &nbsp;&nbsp;<span class="dashboard_subitem">Website</span>
                      </div>
                   </a></li>
                   <li><a class="dropdown-item" routerLink="#">
                      <div class="dashboard_item">
                         <img src="assets/images/store_img.png" width="30">
                         &nbsp;&nbsp;<span class="dashboard_subitem">Store</span>
                      </div>
                   </a></li>
                   <div class="view_dashboarditem"><a routerLink="/dashboard"><i class="fa fa-th-large"></i>&nbsp;&nbsp;View dashboard</a></div>
                </ul>
             </li>
             
            </ul>
            
            <ul class="navbar-nav mt-2 mt-lg-0">
             <li class="nav-item">
               <a class="nav-link" routerLink="#"><i class="fa fa-bell fa-2x"></i></a>
             </li>
             <li class="nav-item dropdown profile_dropdown">
                <a class="nav-link dropdown-toggle indivi_navlink" routerLink="#" title="My Profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="custom_profile"><span class="">b</span></div>
                </a>
                <ul class="dropdown-menu profile_dp_menu" aria-labelledby="dropdownMenuButton">
                   <li><a class="dropdown-item" routerLink="#">User</a></li>
                   <li><a class="dropdown-item" routerLink="/dashboard">Dashboard</a></li>
                   <li><a class="dropdown-item" routerLink="/account">Account</a></li>
                   <li><a class="dropdown-item" routerLink="#">change password</a></li>
                   <li><a class="dropdown-item" routerLink="/myprofile">My Profile</a></li>
                   <li><a class="dropdown-item" style="cursor:pointer" (click)="logout()">Logout</a></li>
                </ul>
             </li>
             
           </ul>
          </div>
        </nav>
    </div>
</div>
<!--//-->

<!---->
<div class="single_detail_bg">
    <div class="container">
        <div class="row clearfix">
            <div class="prpty_title">
                <h4 class="prptyHead">LUXURY MODERN CONDO APARTMENT / <small>APARTMENTS</small></h4>
            </div>
        </div>
    </div>
</div>
<!--//-->

<!---->
<div class="detailSection">
    <div class="content-wrap">
    <div class="container">
        <div class="row clearfix">
        <div class="col-md-8">
            <p>The interior of the house is focused around a large central hallway serving as the main avenue of traffic and entrance area to the adjacent rooms. The hallway flows into a large, wide staircase that provides the main means of egress. <br><br>On the south side of the hall is the large front parlor. This room contains original wallpaper including ceiling panels of small birds and orange flowers with vibrant leaves of green and yellow set upon a light blue background. The main body of the wallpaper is shades.</p>
                            <h5 class="mb-0 ">Sepicification</h5>
                            <hr>
							<div class="line line-sm mt-1 mb-3"></div>
							<div class="row clearfix">
								<div class="col-md-4">
									<ul class="iconlist">
										<li class="mb-1"><i class="fa fa-check-circle"></i>&nbsp;&nbsp;Construction year: 2021</li>
										<li class="mb-1"><i class="fa fa-check-circle"></i>&nbsp;&nbsp;Square Areas: 1401</li>
										<li class="mb-1"><i class="fa fa-check-circle"></i>&nbsp;&nbsp;Living rooms: 12</li>
										<li class="mb-1"><i class="fa fa-check-circle"></i>&nbsp;&nbsp;Bathrooms: 2</li>
									</ul>
								</div>
								<div class="col-md-4">
									<ul class="iconlist">
										<li class="mb-1"><i class="fa fa-check-circle"></i>&nbsp;&nbsp;Bedrooms: 3</li>
										<li class="mb-1"><i class="fa fa-check-circle"></i>&nbsp;&nbsp;Balconies: 3</li>
										<li class="mb-1"><i class="fa fa-check-circle"></i>&nbsp;&nbsp;Car Parking: 5</li>
										<li class="mb-1"><i class="fa fa-check-circle"></i>&nbsp;&nbsp;Total Floors: 25</li>
									</ul>
								</div>
								<div class="col-md-4">
									<ul class="iconlist">
										<li class="mb-1"><i class="fa fa-check-circle"></i>&nbsp;&nbsp;Kitchens: 1</li>
										<li class="mb-1"><i class="fa fa-check-circle"></i>&nbsp;&nbsp;Garages: 1</li>
										<li class="mb-1"><i class="fa fa-check-circle"></i>&nbsp;&nbsp;Pools: 2</li>
										<li class="mb-1"><i class="fa fa-check-circle"></i>&nbsp;&nbsp;Insurance: Yes</li>
									</ul>
								</div>
                            </div>
                            
                            <h5 class="mb-0 mt-3">Amenities</h5>
                            <hr>
							<div class="line line-sm mt-1 mb-3"></div>
							<div class="row clearfix">
								<div class="col-md-4">
									<ul class="iconlist">
										<li class="mb-1">Parking/Garage</li>
										<li class="mb-1">Porter/security</li>
										<li class="mb-1">Air Conditioning</li>
										<li class="mb-1">Washer</li>
										<li><i class="icon-realestate-tv"></i>Television</li>
									</ul>
								</div>
								<div class="col-md-4">
									<ul class="iconlist">
										<li class="mb-1">Balcony/terrace</li>
										<li class="mb-1">Fireplace</li>
										<li class="mb-1">Barbeque</li>
										<li class="mb-1">Ventilation</li>
										<li>Outdoor Shower</li>
									</ul>
								</div>
								<div class="col-md-4">
									<ul class="iconlist">
										<li class="mb-1">Garden</li>
										<li class="mb-1">Rural/secluded</li>
										<li class="mb-1">Microwave</li>
										<li>Intercom</li>
										<li>Parking</li>
									</ul>
								</div>
                            </div>
                            <p class="mt-3">Put this magnificent property on the top of your list, oozing quality from the moment you enter through the unique brick portico into the Tuscan style courtyard with Mural and vertical garden.. Doors and fittings from France, stained glass windows from Europe. Wine cellar under the staircase. Upper level: Elegant master bedroom with balcony, ensuite with Emperador Scuro marble bench tops, mirrors with bevelled glass and American cherry frames. A most spacious dressing room...every woman's dream! Many fixtures have been especially commissioned, including the stand alone bath in the second bathroom, light switches and power points, door hardware is all imported from France. Even the grandchildren are catered for with their own space built into the roof area. An ideal cubby! The home has another two bedrooms with built in robes.</p>
        </div>
        <div class="col-md-4">
            <div class="bookNow_section">
                <div class="card bg-light">
                    <div class="card-header">Reserve Now</div>
                    <div class="card-body">
                        <form  class="">
                            <input type="text" class="form-control" placeholder="Full Name" />
                            <input type="text" class="form-control" placeholder="Email Address" />
                            <input type="number" class="form-control" placeholder="Phone Number" />
                            <textarea class="form-control"  rows="4" cols="30" placeholder="Message"></textarea>
                            
                            <button type="button" class="btnblueSearch w-100 bg-blue">Book Now</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>
        </div>
    </div>
    </div>
</div>
<!--//-->

<!---->
<app-footer></app-footer>
<!--//-->