
   <body class="bg_dark bg_img">

    <div class="container">
      <div class="row clearfix ">
        <div class="col-md-6">
          <!-- <img src="assets/images/bgimg2.png" class="img-fluid"> -->
        </div>
        <div class="col-md-6 signupForm">
          <div class="row clearfix">
            <div class="col-md-10 offset-md-1">
          <h2 class="text_white text-center">FORGOT PASSWORD</h2>

                 
              <!--Personal-->              
                  <div class="personal_form forgot_form">
                    <form [formGroup]="forgotForm">
                      <div class="form-group">
                        <input type="email" placeholder="Email*" formControlname="email" #email class="form-control">
                      </div>
                      <div class="submit_personal text-center mt-3">
                        <button type="submit" (click) = "onFormSubmit(email.value)" class="cbutton gradient_btn">
                          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                          SUBMIT
                        </button>
                      </div>
                    </form>                                   
                    <p class="fp_acc">Did you remember your password?&nbsp;&nbsp; <a routerLink="/login">Login</a></p>
                  </div>
                <!--//--> 
           
                
                    
          </div>
                </div>
        </div>
      </div>
    </div>

   </body>

